body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
	height: 100%;
}

body::after {
	content: '';
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
    z-index: -1;
    opacity: 0.7;
    filter: saturate(2.5);
	
	background: url('img/pattern.png') repeat;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(2, 87, 2);
}

a {
    text-decoration: none;
    color: black;
}

.header-left {
    width: 100%;
    background-color: rgb(226, 155, 0);

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 0 30px 30px 0;
}

.header-left-line {
    border: 1px solid rgb(218, 69, 0);
    width: calc(100% - 10px);
    margin: 3px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 0 30px 30px 0;
}

.header-left span {
    color: green;
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;
    padding: 1rem 0 1rem;
}

.header-right {
    width: 100%;
    background-color: rgb(2, 87, 2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0 1rem;
}

.header-right span {
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;    
}

.box-container {
    width: 100%;
    max-width: 1150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block {
    width: 320px;
    margin: 0 10px;
    margin-top: 80px;
    border-radius: 30px;
    background-color: white;
    border: 2px solid rgba(2, 87, 2, 0.7);
    position: relative;
}

.block:nth-child(1),
.block:nth-child(4),
.block:nth-child(6) {
    filter: contrast(0.5);
}

.block:nth-child(2):hover,
.block:nth-child(3):hover,
.block:nth-child(5):hover {
    cursor: pointer;
    filter: brightness(1.1);
}


.block:nth-child(2):active,
.block:nth-child(3):active,
.block:nth-child(5):active {
    cursor: default;
    filter: brightness(1.2);
}

.img-menu--computer {
    width: 50px;
    position: absolute;
    left: -20px;
    top: -20px;
    z-index: 1;
}

.img-menu--menu {
    width: 50px;
    position: absolute;
    left: -20px;
    top: 290px;
}

.img-menu--start {
    width: 50px;
    position: absolute;
    left: 290px;
    top: 290px;
}

.view {
    border-radius: 0 11px 0 0;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px 0 5px;
    background: white;
}

.view-img {
    width: 20px;
    margin: 2px;
}

.view-text {
    color: rgb(2, 87, 2);
    font-weight: 700;
    font-size: 15px;
    margin: 3px;
}

.preview-card {
    display: flex;
    justify-content: center;
    border-radius: 30px 30px 0 0;
    overflow: hidden;
    position: relative;
}

.preview-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 15px;
    height: 10rem;
    border-top: 2px solid rgb(228, 113, 37);
}

.title {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: green;
}

.text {
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
}

img {
    width:100%;
}

footer {
    margin-top: 50px;
    position: static;
    bottom: -5rem;
    background-color: white;
    width: 100%;
    border-top: 2px solid rgb(228, 113, 37);
}

footer p {
    padding-left: 3rem;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }
}

@media screen and (min-width: 325px) and (max-width: 1024px) {
    .header-left {
        width: calc(100% - 3px);
        border-radius: 0 40px 40px 0;
    }
    

    .block {
        margin: 0 20px;
        margin-top: 80px;
    }

    .box-container {
        justify-content: center;
    }

    footer {
        position: static;
        width: 100%;
        margin-top: 3rem;
    }

    body:after {
        position: fixed;
    }

}